# System files
*.log
.DS_Store

# R
.Rhistory
.Rapp.history
.Rproj.user
*.RData
*.rd[as]

# Python
__pycache__/
.pytest_cache/
.Python
pip-log.txt
pip-delete-this-directory.txt
*.py[cod]
*$py.class
venv
.venv
.env

# VScode
.vscode

data/